


.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-decoration-color: #000000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /*border: 2px solid blue;*/
  background-color:  #f2f2f2;
  display: flex;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.logo{
  position: absolute;
  width: 183px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
}

.logo_place_header{
  left: 64px;
  top: 30px;
  position:absolute;
}

.header__main-ilustration{

  width: 765px;
  height: 608px;
  position:absolute;
  right: 0;
  bottom: 0;
  background-image: url(../images/header-image.png);
  background-size: cover;
  z-index: 2;
}

.header__square-pic{
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;

}

.header__link{
  text-decoration: underline;
}

.header__title{
  width: 730px;
  z-index: 4;
  display: flex;
  margin: auto 64px;


}

.header__title__text{
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.header__subtitle{
  bottom:30px;
  left: 64px;
  width: 388px;
  position:absolute;
  z-index: 4;

}

.header__subtitle__text{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.two-columns{
  display: flex;
  width: 80%;
  margin: 100px auto;
}

.two-columns__breif{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

.two-columns__breif_color{
  color: #2f80ed;
}

.two-columns__main-text{
  min-width: 784px;
  width: 80%;
  flex-grow: 1;

}

.two-columns__paragraph{
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  padding-left: 20%;
  width: 80%;
}

.two-columns__paragraph_no_margin-bot{
  margin-bottom: 0;
}

.two-columns__paragraph_no_margin-top{
  margin-top: 0;
}

.two-columns__span-accent{
  font-weight: bold;
}


.digits{
  display: flex;
  flex-direction: column;

}

.table{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;

}



.section-title{
  display: flex;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.section-title_text-transform{
line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle{
  margin-bottom: 0;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_no_margin{
  margin-top: 0;
}

.table__item_no_margin_bot{
  margin-bottom: 0;
}

.table__cell{
  width: 250px;
  margin-top: 70px;
}

.table__cell_heading_text-transform{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell_text_transform{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


.table__cell_text_margin-bot{
  margin-bottom: 20px;
}

.feynman{
  display: flex;
  height: 890px;
  flex-direction: column;
  margin-top: 100px;
  position: relative;
  box-sizing: border-box;
  background-color: #f2f2f2;

}

.feynman__title{
  display: flex;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  text-align: center;
  margin: 100px auto 0 auto;
  z-index: 3;
  box-sizing: border-box;
}

.feynman__subtitle{
  display:flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: fit-content;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  box-sizing: border-box;
  z-index: 3;
}

.feynman__main-ilustration{
  background-image: url(../images/feynman.png);
  background-size: cover;
  height: 637px;
  width: 867px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
}

.feynman__link{
  width: fit-content;
  position:absolute;
  right: 48px;
  top: 50vh;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman{
  overflow: hidden;
  background-color: #1f1f1f;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.kaufman__triangle{
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  z-index: 1;
  right: -210px;
  top: 0;
}

.table_kaufman{
  margin-bottom: 90px;
  z-index: 3;
}


.table__cell_kaufman{
  width: 200px;
  margin-top: 80px;
}

.table__cell_text_theme_dark{
  color:white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell_heading_theme_dark{
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;

}

.section-title_theme_dark{
  color:white;
  margin-top: 90px;
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle_theme_dark{
  color: white;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

}

.footer{
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  box-sizing: border-box;
}

.footer__columns{
  min-height: 350px;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
  justify-content: space-between;
  color: white;

}


.footer__columns_content_copyright{
  flex-basis: 711px;
  position: relative;

}

.logo_place_footer{
 background-image: url(../images/logo_place_footer.svg);
}

.footer__author{
  width: fit-content;
  position: absolute;
  bottom: 18px;

}



.footer__columns-links{
  justify-content: space-around;


}

.footer__column-link_color{
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.footer__columns-heading{
  width: fit-content;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__columns_content_social{
  flex-direction: row;
  justify-content: space-around;


}

.footer__columns-links_no-margin-top{
  margin-top: 0;
}

.footer__columns-links_no-margin-bot{
  margin-bottom: 0;
}




/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
